html {
	background-color: black;
	color: white;
}

hr {
	background-color: red;
	color: orange;
}

.title {
	display: flex;
	position: relative;
}

.title p {
	display: flex;
	position: relative;
	color: white;
}

/*
.tela1{
  display:inline-block;
  margin:0;
  padding:0;
}

.tela1 h4 h3 p{
  flex-flow:column;
  flex-direction:row nowrap;
  justify-content:stretch;
}

.spa1{
  display:flex;
  position:relative;
}

.spa1 a{
  text-decoration:none;
  color:lightgreen;
}
*/
.nav {
	margin: 0;
	padding: 0;
	position: relative;
}

.nav ul {
	position: fixed;
}

.nav li {
	display: inline;
	position: relative;
	margin-left: 0;
	padding: 0;
}

.nav ul li a {
	color: cyan;
	text-decoration: none;
}

.item {
	width: auto;
	display: grid;
}
